/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}


input[type="button"] {
    border: none;
    padding: 0;
    background: none;
}

/*
p {
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Lato', sans-serif;
}
*/


/* Header */


body {
    font-family: 'Alegreya Sans', sans-serif;
}

#container {
    margin: 0 auto;
    padding-top: 15px;

    background-image: url("../images/your_verse_hero_2x.jpg");
    background-size: cover;
    height: 900px;
    background-position: 50% 120%;

}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 74%;
    height: 35px;
    font-size: 16px;
    background-image:
        linear-gradient(#8a8a8a, #707070 50%, #5e5e5e 50%, #787878);
    border-radius: 5px;
}


nav a {
    display: inline-block;
    color: white;
    padding: 7px 32px 7px 32px;
}

nav a:hover {
    background-image:
        linear-gradient(#5f5f5f, rgb(87, 82, 82) 50%, #3a3838 50%, #5f5f5f5f);
}


nav a:not(:first-child):not(:last-child) {
    margin-top: 3px;
}

.fa-apple {
    font-size: 20px;
    color: white;
}



.fa-search {
    display: inline-block;
    position: relative;
    top: -4px;
    left: 20px;
    font-size: 12px;
    color: white;
}


#search-btn {
    display: inline-block;
    height: 20px;
    background-image:
        linear-gradient(#8a8a8a, #707070 50%, #5e5e5e 50%, #787878);
    border-radius: 10px;
    width: 106px;
    box-shadow: inset 5px 5px 20px -10px rgba(0, 0, 0, 1);
    border: 1px solid rgba(0, 0, 0, .25);
}

/* hero section */
#hero #promotion {
    display: flex;
    width: 100%;
}

.promo-part {
    height: 200px;
}


/* footer css */

footer {
    padding-top: 30px;
    width: 80%;
    margin: 0 auto;
    color: #6e6e6e;
    font-size: .8334em;
    line-height: 1.2;
}

footer ul {
    display: flex;
}

footer ul li {
    padding-right: 10px;
}

footer ul li a {
    padding-right: 20px;
    color: #08c;
    font-size: .8334em;
}


#flex p {
    font-size: .8334em;
    padding-right: 40px;
}

#flex {
    display: flex;
}

#footer-3 {
    padding-top: 14px;
    display: flex;
}

.footer-3-text {
    padding-right: 10px;
    padding-bottom: 30px;
    font-size: .8334em;
}

#us-logo {
    height: 16px;
    width: 16px;
}